<div class="container">

  <h1>Friends List</h1>
  <% @friends.each do |friend| %>
  <li><%= link_to friend.first_name, friend_path(friend) %></li>
  <% end %>

</div>

<h1>Friends List</h1>
  <% @friends.each do |friend| %>
    <%= link_to friend.first_name, friend_path(friend) %>

    <% end %>

<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

