<!--   <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/djd8pzofd/image/upload/v1592307443/samples/people/bicycle.jpg);">
    <div class="container">
      <h1><strong>Rent-a-buddy</strong></h1>
    </div>
  </div> -->

