<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= form_tag friends_path, method: :get do %>
  <%= select_tag "cities", options_from_collection_for_select(City.all, :id, :name) %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>



