

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cms-internationsgmbh.netdna-ssl.com/cdn/image/article/public/cms-media/public/most-welcoming-countries_s583329655.jpg);">
  <div class="container">
    <h1>Rent-a-buddy, don't be alone anymore..!</h1>
    <p>Change your life and make some friends around you</p>
    <%= form_tag friends_path, method: :get do %>
  <%= select_tag "cities", options_from_collection_for_select(City.all, :id, :name), class:"form-control form-text col-sm-3 my-1" %>
  <%= submit_tag "buddy call !", class: "btn btn-primary" %>
<% end %>
  </div>
</div>

