

<div id="header" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cms-internationsgmbh.netdna-ssl.com/cdn/image/article/public/cms-media/public/most-welcoming-countries_s583329655.jpg);">
  <div class="container">
    <h1>Rent a buddy</h1>
    <p><span id="banner-typed-text"></span></p>
    <%#= form_tag friends_path, method: :get do %>
    <%#= select_tag "cities", options_from_collection_for_select(City.all, :id, :name), class:"form-control form-text col-sm-3 my-1" %>
    <%#= submit_tag "buddy call !", class: "btn btn-primary" %>
<%# end %>
  </div>
</div>

<!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
</div> -->
