.card__simple {
  background-color: $card-background;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}



// .simple_form {
  // background-color: $card-background;
  // border-radius: 10px;
  // box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  // padding: 3rem 10rem;
  // margin-top: 3rem;
// }
