#map {
  width: 540px;
  height: 540px;
  position: sticky;
  top: 10px;
  // background-position: center;
}

.mapboxgl-popup {
  max-width: 200px;
  border-radius: 5px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: $body-font;
}

.mapboxgl-popup-close-button {
  z-index: 100;
  font-size: 50px;
  padding-left: 10px;
}

.popup-image {
  border-radius: 5px;
}

.popup-link {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
  }
}
